@media screen and (max-width: 949px) {
    .container {
        &--main {
            button[data-action='sidebarTrigger'] > i.fa::before {
                content: '\f078';
            }

            &[data-sidebar-hidden] {
                button[data-action='sidebarTrigger'] > i.fa::before {
                    content: '\f077';
                }

                .main {
                    grid-template-rows: 1fr;
                }
            }

            .main {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 65%;
            }
        }
    }
}

@import 'mediaq__print';
