.sidebar {
    --tabCellHeight: 25px;

    background-color: #fff;

    .tabs {
        &-radio {
            height: var(--tabCellHeight);
            font-size: 0;
            user-select: none;

            li {
                display: inline-block;
                background-color: var(--prime-color-5d);
                width: calc(100% / 3);
                height: 100%;

                list-style: none;

                @include transition(0.5s);

                button[data-action='selectTab'] {
                    @include flexbox(auto, center, center, auto);
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: 0;
                    outline: 0;

                    @include transition(0.5s);
                    cursor: pointer;

                    font-size: calc(var(--font-size) + 2px);
                    color: #fff;

                    &:focus {
                        background-color: var(--tab-focus-color);
                    }

                    &:not([data-tab-active]):hover {
                        background-color: var(--tab-hover-color);
                    }

                    &[data-tab-active] {
                        background-color: var(--tab-active-color);
                    }
                }
            }
        }

        &-content {
            width: 100%;
            height: calc(100% - var(--tabCellHeight));

            overflow: hidden;
        }
    }

    section {
        width: 100%;
        height: 100%;
        overflow: hidden;

        &:not([data-tab-active]) {
            display: none;
        }

        &[data-tab='chat'] {
            iframe {
                width: 100%;
                height: 100%;
                border: 0;
            }
        }

        &:not([data-tab='chat']) {
            font-size: var(--font-size);
            overflow: auto;
        }

        @import 'sidebar__tab--sched', 'sidebar__tab--news';
    }
}

body[data-theme='moon'] {
    .sidebar {
        .tabs {
            &-content {
                background-color: var(--prime-color-5d);

                color: #ddd;

                a {
                    color: #ddd;
                    border-bottom: 1px solid #ddd;

                    &:hover {
                        background-color: rgba(#ddd, 0.1);
                    }
                }
            }
        }

        section {
            &[data-tab='sched'] {
                .schedule {
                    .sched-item {
                        &[data-status='finished'] {
                            opacity: 0.4;
                        }

                        &[data-status='current'] {
                            background-color: #91914f;
                        }

                        &[data-status='next'] {
                            background-color: #7a7a7a;
                        }

                        &[data-status='not-today'] {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }
}
