@use '../../styles/mixins';

.container {
	--headerHeight: 40px;

	--slider-width: 200px;
	--slider-nav-items-offset: 10px;

	--tab-hover-color: #{mixins.darken(shared.$primeColor, 8%)};
	--tab-focus-color: #{mixins.darken(shared.$primeColor, 6%)};
	--tab-active-color: #{mixins.darken(shared.$primeColor, 13%)};

	width: 100%;
	height: 100%;

	overflow: hidden;

	font-family: var(--roboto-font), Arial, sans-serif;
	font-size: 0;

	&[data-theme='moon'] {
		$primeColor: #464646;

		--prime-color: #{$primeColor};
		--prime-color-5d: #{mixins.darken($primeColor, 5%)};
		--prime-color-10d: #{mixins.darken($primeColor, 10%)};
		--prime-color-15d: #{mixins.darken($primeColor, 15%)};

		--tab-hover-color: #{mixins.darken($primeColor, 8%)};
		--tab-focus-color: #{mixins.darken($primeColor, 6%)};
		--tab-active-color: #{mixins.darken($primeColor, 13%)};

		--text-color: #bfbfbf;
		--link-hover-color: #{rgba(#bfbfbf, 0.1)};
	}

	& > * {
		transition: all 0.5s ease-in-out;
	}
}
