@import 'vars';

@import 'inc/mixins';
@import 'inc/extend';

@include reset;

:root {
    --prime-color: #{$primeColor};
    --prime-color-5d: #{darken($primeColor, 5%)};
    --prime-color-10d: #{darken($primeColor, 10%)};

    --font-size: 14px;

    --headerHeight: 40px;
}

@include selection(var(--prime-color-5d), #fff);

html,
body,
#__next {
    @extend %full-width-tmpl;
}

body {
    font-family: Roboto, Arial, sans-serif;
}

select {
    @at-root button,
        & {
        font: inherit;
    }

    font-size: 0.9em;
}

.separator {
    padding: 0.5em 0;
}

q {
    &::before {
        content: '\00AB';
    }
    &::after {
        content: '\00BB';
    }
}

@import 'mediaq';
