@import 'inc/mixins';
@import 'inc/extend';

@include reset;

@include selection(var(--prime-color-5d), #fff);

html,
body,
#__next {
    @extend %full-width-tmpl;
}

body {
    font-family: Roboto, Arial, sans-serif;
}

select {
    @at-root button,
        & {
        font: inherit;
    }

    font-size: 0.9em;
}

.separator {
    padding: 0.5em 0;
}

q {
    &::before {
        content: '\00AB';
    }
    &::after {
        content: '\00BB';
    }
}

dialog {
    &::backdrop {
        background-color: rgba(#000, 0.4);
    }
}
