@use 'mixins';
@use 'extend';

@include mixins.reset;

:root {
	--prime-color: #{shared.$primeColor};
	--prime-color-5d: #{mixins.darken(shared.$primeColor, 5%)};
	--prime-color-10d: #{mixins.darken(shared.$primeColor, 10%)};
	--prime-color-15d: #{mixins.darken(shared.$primeColor, 15%)};

	--text-color: #000;
	--select-color: #000;
	--link-hover-color: #{rgba(#000, 0.05)};

	--font-size: 14px;
}

@include mixins.selection(var(--select-color), #fff);

html,
body,
#__next {
	@extend %full-width-tmpl;
}

#__next {
	isolation: isolate;
}

select {
	@at-root button,
		& {
		font: inherit;
	}

	font-size: 0.9em;
}

.separator {
	padding: 0.5em 0;
}

q {
	&::before {
		content: '\00AB';
	}
	&::after {
		content: '\00BB';
	}
}

dialog {
	&::backdrop {
		background-color: rgba(#000, 0.4);
	}
}
