.indexPage {
    --sidebar-width: 400px;

    display: grid;
    grid-template-columns: 1fr var(--sidebar-width);
    grid-template-rows: 100%;

    overflow-y: hidden;

    &[data-is-sidebar-hidden] {
        grid-template-columns: 1fr;
    }

    @media screen and (max-width: 949px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 65%;

        &[data-is-sidebar-hidden] {
            grid-template-rows: 1fr;
        }
    }
}
