@import '../../../styles/inc/mixins';

.sidebar {
    --tabCellHeight: 25px;

    background-color: #fff;

    &__tabs {
        width: 100%;
        height: calc(100% - var(--tabCellHeight));

        overflow: hidden;

        &__tab {
            width: 100%;
            height: 100%;
        }
    }

    a {
        $textColor: #000;

        padding: 0 0.5px;

        color: $textColor;
        text-decoration: none;

        @include transition(0.3s);

        &:not([data-style*='no-border']) {
            border-bottom: 1px solid $textColor;
        }

        &:not([data-style*='no-default-hover']) {
            &:hover {
                background-color: rgba($textColor, 0.1);
            }
        }
    }
}
