a {
    $textColor: #000;

    padding: 0 0.5px;

    color: $textColor;
    text-decoration: none;

    @include transition(0.3s);

    &:not([data-style*='no-border']) {
        border-bottom: 1px solid $textColor;
    }

    &:not([data-style*='no-default-hover']) {
        &:hover {
            background-color: rgba($textColor, 0.1);
        }
    }
}
