@import '../../styles/inc/mixins';
@import '../../styles/inc/extend';

.header {
    --headerBrandHeight: calc(var(--headerHeight) / 2);

    @include flexbox(auto, center, center, auto);
    position: relative;
    width: 100%;
    height: var(--headerHeight);
    background-color: var(--prime-color-5d);
    overflow: hidden;

    @include transition(0.5s);

    &__menu {
        @include flexbox(auto, auto, center, auto);

        position: absolute;
        top: 0;
        height: var(--headerHeight);

        font-size: 18px;

        user-select: none;
        cursor: default;

        &_right {
            right: 0;
            padding-right: 5px;
        }

        &_left {
            left: 0;
            padding-left: 5px;
        }

        &__item {
            @include flexbox(auto, center, center, auto);

            border-radius: 5px;

            width: 2em;
            height: 100%;
            padding: 0 10px;

            font-size: 1em;

            @include transition(0.3s); // для <button>

            @extend %menu-nav-elem;
        }

        li {
            display: inline;
            list-style: none;

            &:not(:first-child) {
                margin-left: 5px;
            }
        }
    }
}
