@import '../../../styles/inc/mixins';
@import '../../../styles/inc/extend';

.header__brand {
    --headerBrandHeight: calc(var(--headerHeight) / 2);

    user-select: none;
    white-space: nowrap;
    cursor: default;

    & > * {
        display: inline-block;
        vertical-align: middle;
    }

    &__item {
        & > * {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__logo {
        --headerLogoHeight: calc(var(--headerBrandHeight) + 15px);

        width: var(--headerLogoHeight);
        height: var(--headerLogoHeight);
        margin-left: 5px;
        margin-right: 5px;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;

            image-rendering: pixelated;

            // NOTE: подменять ссылку на лого можно с помощью свойства "content"
        }
    }

    &__text {
        @include transition(0.5s);

        text-transform: uppercase;
        font-family: var(--montserrat-font), Tahoma, Geneva, var(--roboto-font), Arial, sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 1;
        font-size: var(--headerBrandHeight);
        color: #fff;

        &:not([data-style*='no-hover']) {
            &:hover {
                text-shadow: 1px 1px 2px #ccc;
            }
        }
    }

    @media screen and (max-width: 449px) {
        &__text {
            &_title {
                display: none;
            }
        }
    }
}
