@use '../../../styles/mixins';
@use '../../../styles/links-style';

@keyframes padoru {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translate(2px, 1px);
	}
	100% {
		transform: translateX(0);
	}
}

.chatMessage {
	position: relative;
	padding-right: 20px;

	&[data-system] {
		font-style: italic;
	}

	b {
		font-weight: 500;
	}

	time {
		position: absolute;

		bottom: -2.5px;
		right: 0;

		user-select: none;

		color: #ccc;
		font-size: 8px;
	}

	img {
		max-width: 64px;
		height: auto;

		&[data-style*='color-inverted'] {
			filter: invert(100%);
		}

		&[data-style*='reversed'] {
			transform: scaleX(-1);
		}

		&[alt*='padoru'] {
			animation: padoru 0.2s linear infinite;
		}
	}

	&__menu {
		top: 25px !important;
		left: -5px !important;

		background-color: #fff;

		padding: 5px;

		font-size: 14px;

		b {
			cursor: pointer;
		}

		div {
			display: flex;
			gap: 5px;

			align-items: center;
		}
	}

	&:not(:first-child) {
		margin-top: 5px;
	}
}
