@use '../../../styles/mixins';
@use '../../../styles/links-style';

.chatConnections {
	&__popover {
		width: 225px;
		max-height: 250px;
		padding: 7.5px;

		background-color: rgb(0, 0, 0, 0.5);

		font-size: 20px;
		color: #fff;
		text-align: right;

		overflow-x: hidden !important;
		overflow-y: auto !important;

		ul {
			list-style: none;

			li {
				&[data-role='Administrator'] {
					color: red;
				}

				&[data-role='Moderator'] {
					color: greenyellow;
				}

				&[data-status='inactive'] {
					opacity: 0.5;
				}

				&:not(:first-child) {
					margin-top: 5px;
				}
			}
		}
	}

	&__badge {
		position: absolute;

		top: 5px;
		right: 5px;

		background-color: rgb(0, 0, 0, 0.75);

		display: flex;

		padding: 5px 7.5px;
		gap: 5px;

		user-select: none;

		opacity: 0.5;

		color: #fff;
		font-size: 14px;

		@include mixins.transition(0.5s);

		&[data-clickable] {
			cursor: pointer;
		}

		&:hover {
			opacity: 1;
		}

		& div,
		& span {
			display: flex;
			gap: 5px;
		}

		&__dot {
			color: red;
		}

		&__user {
			color: #fff;
		}
	}

}
