.player {
    background-color: #000;

    position: relative;
    overflow: hidden;

    &__embed {
        width: 100%;
        height: 100%;

        iframe {
            width: 100%;
            height: 100%;
            border: 0;
        }

        [data-media-provider] {
            video {
                height: 100%;
            }

            img {
                object-fit: contain;
            }
        }
    }
}
