@use '../../styles/mixins';
@use '../../styles/links-style';

.sidebar {
	--tabCellHeight: 25px;

	display: grid;
	grid-template-rows: var(--tabCellHeight) auto;
	grid-template-columns: 1fr;

	background-color: #fff;
	color: var(--text-color);

	@include mixins.transition(0.5s);

	@include links-style.links-style;

	&__tabs {
		overflow: hidden;

		&__tab {
			width: 100%;
			height: 100%;
		}
	}

	&[hidden] {
		display: none;
	}

	&[data-theme='moon'] {
		background-color: var(--prime-color-5d);
	}
}
