@import '../../styles/inc/mixins';

.sidebar {
    $s: &;

    --tabCellHeight: 25px;

    background-color: #fff;
    color: var(--text-color);

    @include transition(0.5s);

    @import '../../styles/inc/links-style';

    &__tabs {
        width: 100%;
        height: calc(100% - var(--tabCellHeight));

        overflow: hidden;

        &__tab {
            width: 100%;
            height: 100%;
        }
    }

    &[data-theme='moon'] {
        background-color: var(--prime-color-5d);
    }
}
